@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f5851c;
    border-radius: 20px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cf6b0e; 
  }


input[type=checkbox]{
    display: none;
}

.hamburger{
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 950px){
    
    .menu{
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        background-color: #323232;
        text-align: center;
        padding: 16px 0;
    }


    .menu li{
        margin: 15px;
    }

    input[type=checkbox]:checked ~ .menu{
        display: flex;
        flex-direction: column;
    }

    .hamburger{
        display: block;
        color: #cf6b0e;
        font-weight: bold;
    }
    
    .landing {
        flex-direction: column-reverse;
    }

    .landing__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing__text h1{
        padding-top: 20px;
        font-size: 40px !important;
        text-align: center !important;
    }

    .landing__text p{
        font-size: 15px !important;
        padding-top: 5px !important;
    }

    .landing__button {
        display: block;
    }

}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 45px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

p {
    font-family: 'literata', serif;
    font-size: 16px;
}

.highlight {
    color: #f5851c;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    padding: 9px 20px;
    border-radius: 8px;
    border-style: solid;
    border-color: #f5851c;
    color:#f5851c;
    background: none;
    transition: 0.15s;
}

button:hover {
    background-color: #f5851c;
    border-color: #f5851c;
    color: white;
}

button.CTA{
    background-color: #f5851c;
    border-color: #f5851c;
    border-style: solid;
    color: white;
}

button.CTA:hover{
    opacity: 0.8;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background-color: #323232;
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color:  #f5851c;
    text-decoration: none;
}


.navbar li{
    display: inline-block;
    padding: 0 50px;
}


.navbar__item a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.navbar__item a:hover{
    color: #f5851c;
    border-bottom: #f5851c 2px solid;
}

main{
    height: 100%;
    width: 100%;
    background-color: #f5f5cc;
}

.landing{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 25px;
}

.landing__text h1{
    font-size: 50px;
    text-align: left;
}

.landing__text p{
    font-size: 20px;
    text-align: left;
    padding-top: 30px;
}


.landing__button {
    padding: 30px 0;
}

.landing__button button {
    margin-right: 25px;
}

.landing__img {
    width: 40%;
}

.landing__img img {
    max-width: 100%;
}

.portofolio h1 {
    padding: 20px 0;
    text-align: center;
}

.portofolio {
    background-color: rgb(209, 209, 191);
}

.about {
    padding: 20px 10%;
    background-color: #f5f5cc;
}

.about__text {
    text-align: left;
}

footer{
    padding: 10px 0;
    background-color: #323232;
}

p.footer__text {
    text-align: center;
    color: white;
    padding: 5px;
    text-decoration: none;
}
